:root {
	--demo-modal-icon: #9333ea; /* purple-600 */
	--demo-modal-icon-bg: #ede9fe; /* purple-100 */
}

/* Add this to your dark mode root */
.dark {
	--demo-modal-icon: #c4b5fd; /* purple-300 */
	--demo-modal-icon-bg: rgba(139, 92, 246, 0.2); /* purple-500/20 */
}
